/* CSS Rules */
	* {
 		padding: 0;
 		margin: 0;
 		box-sizing: border-box;
 	}

/* General Rules */
	body {
		background-color: #FFF;
		color: #000;

		font-family: 'Karla', sans-serif;
	}

	section {
			min-height: 100vh;
			width: auto;
	}

	figure > img {
		max-width: 100%;
	}

	figcaption {
		text-align: center;
		margin-bottom: 0;
	}

	/* Hover Angle Effect */
		.project-list-hidden {
			display: none;
		}

		.welcome-nav-links:hover .project-list-hidden {
			display: inline;
		}

		.project-tile > a:hover .project-list-hidden {
			display: inline;
		}

		#project-list > li > a:hover .project-list-hidden {
			display: inline;
		}

	/* Sub Navbar */
		#navbar {
			
		}

		.sub-navbar > ul {
			list-style: none;
			margin-bottom: 5px;
		}

		.sub-navbar > ul > li {
			display: inline;
		}

		.sub-navbar-link {
			color: #000;
		}

		.sub-navbar-link:hover {
			color: #000;
			cursor: pointer;
			text-decoration: none;
		}

		.fa-angle-left,
		.fa-angle-right {
			font-size: 12px;
		}

/* Welcome Section*/
	#welcome-section {
		background-color: #1B1B1B; /* eerie black */
		color: #FFA807; /* mandarin orange */

		display: flex;
		justify-content: center;
		align-items: center;
		
		text-align: center;

		padding: 0 40px 0 40px;
	}

	#welcome-text > h1 {
		margin-bottom: 5px;
	}

	#welcome-text > p {
		color: #A9A9A9;
		margin-bottom: 0;
	}

	#welcome-text > p:nth-child(4) {
		color: #FFF;
		margin-top: 20px;
	}

	#welcome-nav {
		text-transform: uppercase;
		list-style: none;

		color: #A9A9A9;

		font-size: 15px;

		margin-top: 20px;
	}

	#welcome-nav > li:first-child {
		margin-bottom: 10px;
	}

	.welcome-nav-links:hover {
		cursor: pointer;
	}

/* Project Section */
	#projects {
		background-color: #FFF;
		padding: 20px;
		display: none;
	}

	#projects-nav > div:nth-child(2) > h3 {
		text-align: center;
	}

	/* Projects > Views */
		#projects-view-style {
			list-style: none;
			text-align: center;
			margin-top: 15px;
			margin-bottom: 0;
		}

		#projects-view-style > li {
			display: inline;
			padding: 5px;
		}

		#projects-view-style > li:hover {
			cursor: pointer;
			text-decoration: underline;
		}
	
	/* Projects > Compact View */
		#projects-compact-view {
			display: none;
		}

		#projects-compact-view > p {
			text-decoration: underline;
			text-align: center;
			font-size: 18px;
		}

	/* Projects > Compact View > List */
		#project-list {
			list-style: none;
			text-align: center;
		}

		#project-list > li {
			margin-bottom: 10px;
		}

		#project-list > li > a {
			color: #000;
		}

		#project-list > li > a:hover {
			text-decoration: none;
		}

	/* Project Tile */
		.project-tile {
			margin: 0 auto;
		}

		.project-tile > a {
			color: #000;
			text-decoration: none;
		}

/* Contact Section */
